alias starwars='telnet towel.blinkenlights.nl'
alias la='ls -a'
alias lh='ls -lh'
alias wine32="WINEPREFIX='/Users/austinbricker/.wine32' wine"
alias winsteam="wine ~/.wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe"
alias vimcolor='~/go/bin/vixl44'
alias ..='cd ..'
alias ...='cd ../..'
alias gittree='git log --graph --pretty=oneline --abbrev-commit'
alias love="/Applications/love.app/Contents/MacOS/love"
alias schism="python3 ~/git/schism/schism.py"

mvim () { /Applications/MacVim.app/Contents/bin/mvim "$1"; }
scpi () { scp "$1" pi@abricker-pi.local:~; }
gbdk-build () { /opt/gbdk/bin/lcc -o "$2" "$1"; }
cs () { cd "$1"; ls; }
tmuxa () { tmux a -t "$1"; }
gitup () { git add -A; git commit -m "$1"; git push; }
alias clera="clear"
