alias la='ls -a'
alias lh='ls -lh'
alias gittree='git log --graph --pretty=oneline --abbrev-commit'
alias love="/Applications/love.app/Contents/MacOS/love"
alias pico8="/Applications/PICO-8.app/Contents/MacOS/pico8"
alias clera="clear"
alias cls="clear"
alias activate='source bin/activate'
alias grep="grep -Hn"

# Sets up .N and .xN to go back N directories
DOT='..'
CMD='cd ..'
for i in {2..5}; do
    alias "$DOT"="$CMD"
    alias ".$i"="$CMD"
    DOT="$DOT."
    CMD="$CMD/.."
done
unset CMD
unset DOT

mvim () { /Applications/MacVim.app/Contents/bin/mvim "$1"; }
cs () { cd "$1"; ls; }
tmuxa () { tmux a -t "$1"; }
gitup () { git add -A; git commit -m "$1"; git push; }
md2pdf () {
    fname="${1%.*}"
    pandoc -s -V geometry:margin=1in -o "$fname".pdf "$fname".md
}
