alias la='ls -a'
alias lh='ls -lh'
alias ..='cd ..'
alias ...='cd ../..'
alias gittree='git log --graph --pretty=oneline --abbrev-commit'
alias love="/Applications/love.app/Contents/MacOS/love"
alias pico8="/Applications/PICO-8.app/Contents/MacOS/pico8"
alias clera="clear"
alias python36='~/.pyenv/versions/3.6.5/bin/python3'
alias activate='source bin/activate'

mvim () { /Applications/MacVim.app/Contents/bin/mvim "$1"; }
cs () { cd "$1"; ls; }
tmuxa () { tmux a -t "$1"; }
gitup () { git add -A; git commit -m "$1"; git push; }
md2pdf () {
    fname="${1%.*}"
    pandoc -s -V geometry:margin=1in -o "$fname".pdf "$fname".md
}
