alias la='ls -a'
alias lh='ls -lh'
alias gittree='git log --graph --pretty=oneline --abbrev-commit'
alias gitsha="git rev-parse HEAD"
alias clera="clear"
alias cls="clear"

# Sets up .N and .xN to go back N directories
DOT='..'
CMD='cd ..'
for i in {2..5}; do
    alias "$DOT"="$CMD"
    alias ".$i"="$CMD"
    DOT="$DOT."
    CMD="$CMD/.."
done
unset CMD
unset DOT

cs () { cd "$1"; ls; }
tmuxa () { tmux a -t "$1"; }
