* {
    border: none;
    border-radius: 0px;
    font-family: monospace;
    font-size: 16px;
    min-height: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces,
#custom-notification,
#custom-power,
#custom-arch,
#clock,
#backlight,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-left,
#custom-right,
#tray,
#backlight {
    color: #cdd6f4;
    background: #11111b;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    border-top: 2px solid #301934;
    border-bottom: 2px solid #301934;
}

#custom-notification,
#custom-power,
#backlight,
#battery,
#pulseaudio,
#bluetooth,
#network {
    padding: 0 10px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-right {
    border-radius: 0px 7px 7px 0px;
    border-top: 2px solid #301934;
    border-right: 2px solid #301934;
    border-bottom: 2px solid #301934;
}

#custom-left {
    border-radius: 7px 0px 0px 7px;
    border-top: 2px solid #301934;
    border-left: 2px solid #301934;
    border-bottom: 2px solid #301934;
}

#pulseaudio {
	color: #268bd2;
}
#backlight {
	color: #2aa198;
}
#battery {
	color: #859900;
}
#custom-notifications,
#battery.warning {
    color: #ffb347;
}
#battery.critical {
    color: #ff6961;
}
#custom-power {
    color: #f38ba8;
}
#custom-arch {
    color: #1793D1;
}
